html,
body {
  margin: 0;
  padding: 0;
}

#game-container {
  background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
  background-position: center;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gameBg {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: yellow;
}
